* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Helvetica Neue", Arial, sans-serif;
    color: #121214;
    background-color: rgb(154, 154, 207);

    h1 {
        font-size: 50px;
    }
}